google_api_python_client==2.86.0
mysql_connector_repackaged==0.3.1
numpy==1.24.2
numpy==1.24.3
pandas==1.5.3
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
plotly==5.14.1
pymongo==4.3.3
PyMySQL==1.0.3
SQLAlchemy==2.0.15
streamlit==1.21.0
streamlit==1.22.0
